.block_1_item {
  display: flex;
  margin-bottom: 10px;
}

.block_2_item {
  display: flex;
  margin-bottom: 10px;
}

.block_3_item {
  display: flex;
  margin-bottom: 10px;
}

.block_4_item {
  display: flex;
  margin-bottom: 10px;
}

.block_1 {
  margin-bottom: 20px;
}

.block_2 {
  margin-bottom: 20px;
}

.block_3 {
  margin-bottom: 20px;
}

.block_4 {
  margin-bottom: 20px;
}
